html, body {
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
  background-color: #f4f4f4;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-style: normal ;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f4f4f4;
}

.otherInfo {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  background-color: #f4f4f4;
}

@media screen and (max-width:559px) {
  .title {
    height: 23px;
    font-size: 20px;  
  }
}