.cardCustom {
    width: 312px !important;
    margin-top: 28px !important;
    border-radius: 15px !important;
    box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5) !important;
    border: none !important;
    background-color: #ffffff;
}

.reportsTitle {
    width: 270px;
    height: 23.1px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6c6c6c !important;
    margin-top: -10px !important;  
  }

.customSubmitForm {
    display: flex;
    margin-top: -10px !important;
    margin-bottom: -20px !important;
}

.customSubmitForm button {
    background-color: white !important;
    color: #4c84ff !important;
    font-weight: bold !important;
}

.customSubmitForm button:hover {
  color: #000080 !important;
}

.customSubmitForm input {
    width: 100% !important;
    background-color: white !important;
    font-weight: bold !important;
    border: 0 !important;
    margin-right: 30px !important;
}

.hiddenContent {
    overflow-y: scroll;
}

@media screen and (max-width:990px) {
    .cardCustom {
        width: 410px !important;
    }

    .customSubmitForm input {
        margin-right: 140px !important;
    }
}

@media screen and (max-width:880px) {
    .cardCustom {
        width: 330px !important;
        height: 300px !important;   
        margin-right: 8px !important;
    }

    /* .customSubmitForm input {
        margin-right: 140px !important;
    } */
}

@media screen and (max-width:767px) {
    .customSubmitForm {
        margin-bottom: -10px !important;
    }
    
    .customSubmitForm input {
        width: 100% !important;
        margin-right: 20px !important;
    }
}

@media screen and (max-width:719px) {
    .cardCustom {
        width: 250px !important;
    }

    .customSubmitForm input {
        width: 80% !important;
        margin-right: -65px !important;
    }
}

@media screen and (max-width:559px) {
    .cardCustom {
        width: 290px !important; 
        height: 400px !important;   
        margin-right: 10px !important;    
        margin-bottom: 40px !important;
    }

    .customSubmitForm input {
        width: 100% !important;
        margin-right: -15px !important;
    }
}